@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');

/* página index.html */

.body_index {
    background-image: url("fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.h1_index {
    font-family: "Pacifico";
    color: #D2691E;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: "Caveat";
    color: #00008B;
    font-size: 30px;
}

h3 {
    font-family: Arial;
    color: #008B8B;
    font-size: 25px;
}

p, li {
    font-family: Arial; 
}

a:visited {
    color: grey;
}
a:hover {
    font-weight: bold;
    color: red;
}
a:active {
    color: green;
}

table, td, th {
    border: 2px solid brown;
    background-color: AntiqueWhite;
    border-collapse: collapse;
}

table {
    width: 33%;
    margin: auto;
}

/* página formulario.html */

.body_formulario {
    background-color: AntiqueWhite;
}

.h1_formulario{
    font-family: Arial;
    color: brown;
    font-size: 25px;
}

label {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

